<h1>Hamburger!</h1>
<img src="burgerimage.jpeg" alt="Hamburgerimage">
<h2>Burgers Devoured</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers available</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add Hamburger</h2>
<form id="create-form">

  <div class="form-group">
    <label for="ca">BurgersName:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Available?</label><br>
    <input type="radio" name="sleepy" value="1" id="sleepy" checked> Available to Devour!<br>
    {{!-- <input type="radio" name="sleepy" value="0" id="awake"> Awake --}}
  </div>

  <button type="submit">Add Hamburger</button>
</form>